In [1]:
#멀티인덱스
#여러레벨(level)로 구성된 행 인덱스

import pandas as pd
import seaborn as sns

df=sns.load_dataset('titanic')
df=df[['class','sex','age','fare','survived']]

#타이타닉 데이터를 class열, sex열 기준으로 분할

groups=df.groupby(['class','sex'])

# for x in groups:
#     print(x)

#나줘준 그룹객체마다 age,fare의 평균 계산
gdf=groups[['age','fare']].mean()
print(gdf,'\n')
print(gdf.index,'\n') #멀티인덱스를 가진 df의 행만 조회하면 튜플로 상위,하위의 행이 묶여져서 출력됨

#class가 first인 데이터선택 =>행선택 lioc, loc
print(gdf.loc['First'],'\n') #First행 하나만 적게되면 하위 행인 성별2개가 전부 출력됨

#멀티인덱스에서 2개의 인덱스를 사용하는 방법 : (상위인덱스,하위인덱스)<튜플형태>
print(gdf.loc[('First','female')])
print()
print(gdf.loc[('Second','female')])
print()


#인덱스 라벨과 인덱스레벨(level)을 사용하여 원하는 데이터만 선택 : df.xs('인덱스명','level=인덱스 라벨')
#성별이 남성인 데이터만 추출
print(gdf.xs('male',level='sex'))

#성별이 여성인 데이터만 추출
print(gdf.xs('female',level='sex'))

                     age        fare
class  sex
First  female  34.611765  106.125798
       male    41.281386   67.226127
Second female  28.722973   21.970121
       male    30.740707   19.741782
Third  female  21.750000   16.118810
       male    26.507589   12.661633

MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])

              age        fare
sex
female  34.611765  106.125798
male    41.281386   67.226127

age      34.611765
fare    106.125798
Name: (First, female), dtype: float64

age     28.722973
fare    21.970121
Name: (Second, female), dtype: float64

              age       fare
class
First   41.281386  67.226127
Second  30.740707  19.741782
Third   26.507589  12.661633
              age        fare
class
First   34.611765  106.125798
Second  28.722973   21.970121
Third   21.750000   16.118810

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21468\353010236.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  groups=df.groupby(['class','sex'])

In [2]:
#피봇테이블 만들기
import pandas as pd
import seaborn as sns

df

pivot1=pd.pivot_table(df,
                     index='class',
                     columns='sex',
                     values='age',
                     aggfunc='mean') # 항상 aggfucn의 디폴트값으로는 평균값으로 지정되어있음

print(pivot1,'\n')


pivot_fare=pd.pivot_table(df,
                      index='class',
                      columns='sex',
                      values='fare',
                      aggfunc='mean')

print(pivot_fare)

sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589

sex         female       male
class
First   106.125798  67.226127
Second   21.970121  19.741782
Third    16.118810  12.661633

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21468\719258983.py:7: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot1=pd.pivot_table(df,
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21468\719258983.py:16: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_fare=pd.pivot_table(df,

In [3]:
#피봇할때 집계함수를 여러개 사용하는 경우
pivot2=pd.pivot_table(df,
                     index='class',
                     columns='sex',
                     values='fare',
                     aggfunc=['mean','sum'])
print(pivot2,'\n')
print(pivot2.columns)#pivot 테이블 만들때 집계함수를 2가지 이상 사용하면 언스택컬럼에 멀티인덱스가 되어버림
#상위 : 집계함수 / 하위 : 성별

              mean                   sum
sex         female       male     female       male
class
First   106.125798  67.226127  9975.8250  8201.5875
Second   21.970121  19.741782  1669.7292  2132.1125
Third    16.118810  12.661633  2321.1086  4393.5865

MultiIndex([('mean', 'female'),
            ('mean',   'male'),
            ( 'sum', 'female'),
            ( 'sum',   'male')],
           names=[None, 'sex'])

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21468\4222237543.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot2=pd.pivot_table(df,
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21468\4222237543.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot2=pd.pivot_table(df,

In [4]:
#행 인덱스와 데이터로 사용할 열을 여러개 지정할 경우 
pivot3=pd.pivot_table(df,
                    index=['class','sex'],
                    columns='survived',
                    values=['age','fare'],
                    aggfunc=['mean','max'])

print(pivot3)
print(pivot3.columns)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21468\1284717553.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot3=pd.pivot_table(df,

                    mean                                      max        \
                     age                   fare               age
survived               0          1           0           1     0     1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159  50.0  63.0
       male    44.581967  36.248000   62.894910   74.637320  71.0  80.0
Second female  36.000000  28.080882   18.250000   22.288989  57.0  55.0
       male    33.369048  16.022000   19.488965   21.095100  70.0  62.0
Third  female  23.818182  19.329787   19.773093   12.464526  48.0  63.0
       male    27.255814  22.274211   12.204469   15.579696  74.0  45.0


                 fare
survived            0         1
class  sex
First  female  151.55  512.3292
       male    263.00  512.3292
Second female   26.00   65.0000
       male     73.50   39.0000
Third  female   69.55   31.3875
       male     69.55   56.4958
MultiIndex([('mean',  'age', 0),
            ('mean',  'age', 1),
            ('mean', 'fare', 0),
            ('mean', 'fare', 1),
            ( 'max',  'age', 0),
            ( 'max',  'age', 1),
            ( 'max', 'fare', 0),
            ( 'max', 'fare', 1)],
           names=[None, None, 'survived'])

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21468\1284717553.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot3=pd.pivot_table(df,

In [5]:
#피벗테이블도 결국 데이터프레임!

#행선택
print(pivot3.loc['First'],'\n')

#행인덱스가 calss First, sex,Female인 행선택
print(pivot3.xs(('First','female')))

#피벗3에서 성별이 남성인 데이터만 확인
print(pivot3.xs('male',level='sex'))
#성별이 여자인 데이터만 확인
print(pivot3.xs('female',level='sex'))

#멀티인덱스로 된 열기준 선택
print(pivot3.xs('mean',axis=1))

#age의 평균데이터만 조회
print(pivot3.xs(('mean','age'),axis=1))

#fare의 큰값 조회
print(pivot3.xs(('max','fare'),axis=1))

               mean                                      max                \
                age                   fare               age          fare
survived          0          1           0           1     0     1       0
sex
female    25.666667  34.939024  110.604167  105.978159  50.0  63.0  151.55
male      44.581967  36.248000   62.894910   74.637320  71.0  80.0  263.00



survived         1
sex
female    512.3292
male      512.3292

            survived
mean  age   0            25.666667
            1            34.939024
      fare  0           110.604167
            1           105.978159
max   age   0            50.000000
            1            63.000000
      fare  0           151.550000
            1           512.329200
Name: (First, female), dtype: float64
               mean                                    max                \
                age                  fare              age          fare
survived          0          1          0          1     0     1       0
class
First     44.581967  36.248000  62.894910  74.637320  71.0  80.0  263.00
Second    33.369048  16.022000  19.488965  21.095100  70.0  62.0   73.50
Third     27.255814  22.274211  12.204469  15.579696  74.0  45.0   69.55



survived         1
class
First     512.3292
Second     39.0000
Third      56.4958
               mean                                      max                \
                age                   fare               age          fare
survived          0          1           0           1     0     1       0
class
First     25.666667  34.939024  110.604167  105.978159  50.0  63.0  151.55
Second    36.000000  28.080882   18.250000   22.288989  57.0  55.0   26.00
Third     23.818182  19.329787   19.773093   12.464526  48.0  63.0   69.55



survived         1
class
First     512.3292
Second     65.0000
Third      31.3875
                     age                   fare
survived               0          1           0           1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159
       male    44.581967  36.248000   62.894910   74.637320
Second female  36.000000  28.080882   18.250000   22.288989
       male    33.369048  16.022000   19.488965   21.095100
Third  female  23.818182  19.329787   19.773093   12.464526
       male    27.255814  22.274211   12.204469   15.579696
survived               0          1
class  sex
First  female  25.666667  34.939024
       male    44.581967  36.248000
Second female  36.000000  28.080882
       male    33.369048  16.022000
Third  female  23.818182  19.329787
       male    27.255814  22.274211
survived            0         1
class  sex
First  female  151.55  512.3292
       male    263.00  512.3292
Second female   26.00   65.0000
       male     73.50   39.0000
Third  female   69.55   31.3875
       male     69.55   56.4958

In [6]:
!pip install --upgrade seaborn pandas

Requirement already satisfied: seaborn in c:\users\82109\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: pandas in c:\users\82109\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\82109\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\82109\anaconda3\lib\site-packages (from seaborn) (3.8.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\82109\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\82109\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\82109\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\82109\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\82109\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\82109\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\82109\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\82109\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\82109\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\82109\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\82109\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [12]:
!pip install palmerpenguins

Requirement already satisfied: palmerpenguins in c:\users\82109\anaconda3\lib\site-packages (0.1.4)
Requirement already satisfied: pandas in c:\users\82109\anaconda3\lib\site-packages (from palmerpenguins) (2.2.3)
Requirement already satisfied: numpy in c:\users\82109\anaconda3\lib\site-packages (from palmerpenguins) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\82109\anaconda3\lib\site-packages (from pandas->palmerpenguins) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\82109\anaconda3\lib\site-packages (from pandas->palmerpenguins) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\82109\anaconda3\lib\site-packages (from pandas->palmerpenguins) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\82109\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.16.0)

In [13]:
import pandas as pd
from palmerpenguins import load_penguins

# 데이터셋 불러오기
penguin = load_penguins()

# 데이터셋의 첫 몇 행 출력
print(penguin.head())

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex  year
0       3750.0    male  2007
1       3800.0  female  2007
2       3250.0  female  2007
3          NaN     NaN  2007
4       3450.0  female  2007

In [21]:
#<과제 문제>
df=penguin
df
# 1) 팽귄 데이터에서 index는 서식지와 종, columns에는 성별, 데이터가 될 열으로는 부리의 깊이와 무게
# 집계함수로는 중간값, 최대값으로 피벗 테이블을 생성  
pivot4=pd.pivot_table(df,
                  index=['species','island'],
                  columns='sex',
                  values=['bill_depth_mm','bill_length_mm'],
                  aggfunc=['median','max'])

print(pivot4,'\n')

# 2) 위에서 만든 피벗 테이블에서 서식지행이 Biscoe인 데이터만 조회
print(pivot4.xs('Biscoe',level='island'),'\n')


# 3) 피벗 페이블에서 서식지가 Dream이고 팽귄의 종이 Adelie인 데이터만 조회
# print(pivot4.xs('Dream','Adelie'))

# 4) 피벗테이블에서 최대값 함수의 결과만 출력(부리의 깊이와 팽귄의 무게)
print(pivot4.xs('max',axis=1))

# 5) 피벗테이블에서 수컷 팽귄의 무게 중간값만 출력
# print(pivot4.xs('male',level='sex'))

                           median                                        max  \
                    bill_depth_mm        bill_length_mm        bill_depth_mm
sex                        female   male         female   male        female
species   island
Adelie    Biscoe            17.70  18.90          37.75  40.80          20.7
          Dream             17.80  18.65          36.80  40.25          19.3
          Torgersen         17.45  19.20          37.60  41.10          19.3
Chinstrap Dream             17.65  19.30          46.30  50.95          19.4
Gentoo    Biscoe            14.25  15.70          45.50  49.50          15.5


                          bill_length_mm
sex                  male         female  male
species   island
Adelie    Biscoe     21.1           40.5  45.6
          Dream      21.2           42.2  44.1
          Torgersen  21.5           41.1  46.0
Chinstrap Dream      20.8           58.0  55.8
Gentoo    Biscoe     17.3           50.5  59.6

               median                                      max        \
        bill_depth_mm       bill_length_mm       bill_depth_mm
sex            female  male         female  male        female  male
species
Adelie          17.70  18.9          37.75  40.8          20.7  21.1
Gentoo          14.25  15.7          45.50  49.5          15.5  17.3


        bill_length_mm
sex             female  male
species
Adelie            40.5  45.6
Gentoo            50.5  59.6

                    bill_depth_mm       bill_length_mm
sex                        female  male         female  male
species   island
Adelie    Biscoe             20.7  21.1           40.5  45.6
          Dream              19.3  21.2           42.2  44.1
          Torgersen          19.3  21.5           41.1  46.0
Chinstrap Dream              19.4  20.8           58.0  55.8
Gentoo    Biscoe             15.5  17.3           50.5  59.6